.section-heading__tagline {
  margin: 0 0 10px;
  color: var(--green);
}

.section-heading__title {
  margin: 0;
  color: var(--black);
}

.section-heading__description {
  margin-top: 10px;
  color: var(--grey);

  & p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
